#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  }

  body{
    background-color: rgba(128, 128, 128, 0.2);
  }